.bigContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}
.continer {
  width: 300px;
  /* border: 1px solid whitesmoke; */
  height: 390px;
}
.continer h1 {
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding: 6px 0;
}
.continer p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 6px 0;
}
.ImageBor {
  border: 1px solid;
  border-image-source: linear-gradient(
    105.56deg,
    #fddb08 18.43%,
    #f5952a 89.58%
  ) !important;
  border-image-slice: 1 !important;
  border-width: 2px;
  border-radius: 0.8rem !important;
  padding: 8px;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.imagecontainer {
  display: block;
  overflow: hidden;
  /* position: relative; */
  border-radius: 6px !important;
/* 
  border-color: linear-gradient(
    105.56deg,
    #fddb08 18.43%,
    #f5952a 89.58%
  ) !important; */
  background-clip: border-box !important;
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(to right, #fddb08, #f5952a);
}
.imageDeg {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  position: absolute;
 
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1200px) {
  .bigContainer {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 375px) {
}
