html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 0 100px;
}
.head__main {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head__main a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.searchLang {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con-wrapp {
  margin-top: 10px;
  /* border:1px solid red; */
  width: 800px;
  height: 400px;
  margin: 25px auto;
  position: relative;
}

.wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 200px;
}

.wrapper2 {
  width: 70%;
  display: flex;
  align-items: center;

  margin: 40px auto;
  position: absolute;
  bottom: 189px;
  left: 127px;
  margin: auto 0;
}

/* Kup  */
.card__item {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);

  margin-right: 45px;
}
.card__item_border {
  position: relative;
}

.card__item_border_top:after {
  content: "";
  width: 104px;
  height: 104px;
  border: 2px solid red;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 4px;
  z-index: -1;
}

.card__item_border_left:after {
  content: "";
  width: 104px;
  height: 104px;
  border: 2px solid red;
  position: absolute;
  top: 3px;
  left: -11px;
  border-radius: 4px;
  z-index: -1;
}

.card__item_border_bottom:after {
  content: "";
  width: 104px;
  height: 104px;
  border: 2px solid red;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 4px;
  z-index: -1;
}
.card__item_border_right:after {
  content: "";
  width: 104px;
  height: 104px;
  border: 2px solid red;
  position: absolute;
  top: -11px;
  left: 3px;
  border-radius: 4px;
  z-index: -1;
}
.card__item div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.card__item div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 99;
}

.whiteYellowTittle {
  color: #fff;
  font-size: 44px;
}
.whiteYellowTittle span {
  /* color:yellow; */
  background: linear-gradient(105.56deg, #fddb08 18.43%, #f5952a 89.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Slider  */

.allAbout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.allAboutCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allAboutCenter span {
  color: #fff;
  font-size: 48px !important;
  font-weight: 700;

  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 3rem;
  font-family: var(--font);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--alt-stroke-color);
  text-align: center;
}

.allAboutCenter p {
  color: #fff;
  font-size: 25px;
  margin: 40px 0;
}

.allAboutCenter button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #f4902c;
  background: rgba(253, 219, 8, 0.01);
  cursor: pointer;
}

/* Pro Circle */
.ProContianer {
  width: 100%;
  height: 100%;
  position: relative;
}
#ProCicyle {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
/* Pro Circle */
.react-tabs__tab--selected {
  /* background: none !important; */
  color: #fff !important;
  background: linear-gradient(105.56deg, #fddb08 18.43%, #f5952a 89.58%) !important;
   background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 375px) {
  .ProWhiteNone{
    display: none;
  }
  .ProGoldNone{
    display: none;
  }

  .whiteYellowTittle {
    font-size: 28px !important;
  }
  .whiteYellowTittle p {
    font-size: 14px !important;
  }
}
.react-responsive-modal-modal{
  width: 70% !important;
  /* height: 95vh !important; */
  background: rgba(18, 18, 18, 0.8) !important;
  max-width: 90% !important;
  color: #fff;
  padding: 40px 100px !important;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 6px;
}



/* 
<span key={i} className={l === locale ? styles.selected : ""}>
<Link href={asPath} locale={l}>
  {l}
</Link>
</span> */

/* <div className={styles.lang}>
<p>Eng</p>
</div> */