.containerBig {
  background: #0e0f0e;
  position: relative;
   background-image: url("../asset/img/Ellipse/Ellipsbg44.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  background-position: 104% 20%;

}

.Ellipse9 {
  position: absolute;
  top: 656px;
  right: 34px;
  width: 1250px;

}

.container {
  position: relative;
  max-width: 1440px;
  margin: auto;

  --font: "Open Sans", sans-serif;
  --alt-font: "Modak", cursive;
  --white: #fff;
  --stroke-color: #000;
  --alt-stroke-color: rgba(255, 255, 255, 1);
}

.allAbout {
  height: 115vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.allAboutCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allAboutCenter span {
  color: #fff;
  font-size: 48px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 3rem;
  font-family: var(--font);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--alt-stroke-color);
  text-align: center;
}

.allAboutCenter p {
  color: #fff;
  font-size: 25px;
  margin: 40px 0;
  
}

.allAboutCenter button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #f4902c;
  background: rgba(253, 219, 8, 0.01);
  cursor: pointer;
}

.outTeam {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;

}

.ellipse44 {
  position: absolute;
  top: -222px;
  right: 0;
  /* background-image: url("../asset/img/Ellipse/ell800w.png"); */
  background-repeat: no-repeat;
  background-position: right;

  background-size: 80%;
}

.ellipse9 {
  position: absolute;
  top: -200px;
  right: -222px;
  width: 1000px;
}

.outTeamLeft {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.topRightImg {
  width: 200px;
  height: 200px;
  background-color: #9b4f4f;
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
}

.topRightImg span {
  z-index: 1;
}

.topRightImg::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: -21px;
  left: 20px;
  z-index: 0;
  background-color: #fff0;
  border: 1px solid #fddb08;
  border-radius: 10px;
}

.topRightTitle {
  position: absolute;
  top: 50px;
  left: 160px;
  font-size: 40px;
  font-weight: 700;
  transform: rotate(90deg);
  color: #fff;
  text-transform: uppercase;
}

.outTeamTitel {
  position: absolute;
  top: 170px;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
}

.outTeamTitel span {
  font-size: 40px;
  color: #f4902c;
  padding-left: 20px;
}

.leftBottomImg {
  width: 200px;
  height: 200px;
  background-color: #9b4f4f;
  position: relative;
  border-radius: 10px;
}

.leftBottomImg span {
  z-index: 1;
}

.leftBottomImg::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  top: 22px;
  left: -26px;
  z-index: 0;
  background-color: #fff0;
  border-radius: 10px;
  border: 1px solid #fddb08;
}

.outTeamRigth {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* z-index: 9; */
 
}

.outTeamRigth p {
  width: 60%;
  height: 30%;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}

.someWork {
  height: 100vh;
  width: 100%;
}

.HeadTitLetter {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 0;
}

.HeadTitBigWhite {
  color: #fff !important;
}

.HeadTitBigYell {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(105.56deg, #f4902c 18.43%, #fee105 89.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media only screen and (max-width: 1440px) {
  .outTeam {
    padding: 35px 135px;
    height: 100vh;
  }

  .someWork {
    padding: 35px 135px;
    height: 105vh;
  }
}

@media only screen and (max-width: 1200px) {
  .outTeam {
    padding: 30px 50px;
  }

  .someWork {
    padding: 30px 50px;
    height: 97vh;
  }
}

@media only screen and (max-width: 768px) {
  .outTeam {
    margin-bottom: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .someWork {
    padding: 0 30px;
    height: 90vh;
    margin-bottom: 110px;
  }

  .ellipse44 {
    display: none;
  }

  .outTeamRigth {
    width: 100%;
    margin-top: 20px;
  }

  .outTeamRigth p {
    width: 100%;
  }

  .outTeamLeft {
    width: 100%;
    margin-left: 130px;
  }

  .outTeamTitel {
    top: -98px;
  }
}

@media only screen and (max-width: 375px) {
  .outTeam {
    padding: 0 20px;
  }

  .outTeamTitel {
    font-size: 17px;
    top: -84px;
    left: 20px;
  }

  .outTeamTitel span {
    font-size: 28px;
  }

  .ProContianer div {
    display: none;
  }

  .someWork {
    padding: 0 20px;
    height: 82vh;
  }

  .outTeamLeft {
    width: 100%;
    margin-left: 26px;
  }

  .leftBottomImg {
    width: 130px;
    height: 130px;
    background-color: #9b4f4f;
    position: relative;
    border-radius: 10px;
  }

  .leftBottomImg span {
    z-index: 1;
  }

  .leftBottomImg::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    top: 22px;
    left: -26px;
    z-index: 0;
    background-color: #fff0;
    border-radius: 10px;
    border: 1px solid #fddb08;
  }

  .topRightImg {
    width: 130px;
    height: 130px;
    background-color: #9b4f4f;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .topRightImg span {
    z-index: 1;
  }

  .topRightImg::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    top: -21px;
    left: 20px;
    z-index: 0;
    background-color: #fff0;
    border: 1px solid #fddb08;
    border-radius: 10px;
  }

  .topRightTitle {
    top: 7px;
    left: 105px;
    font-size: 24px;
  }
}


@media only screen and (max-width: 1440px) {
  .allAbout {
    padding: 0 135px;
  }
}

@media only screen and (max-width: 1200px) {
  .allAbout {
    padding: 0 50px;
  }

  .wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .allAbout {
    padding: 0 30px;
  }

  .allAboutCenter span {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .allAbout {
    padding: 0 20px;
    height: 55vh
  }

  .allAboutCenter span {
    text-align: center;
    font-size: 16px;
  }

  .allAboutCenter p {
    font-size: 15px;
    margin: 20px 0;
  }
}