.containerBig {
  /* position: relative;
    height: 100%; */
  background: #131519;
}

.contianer {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 1440px;
  margin: auto;

  --font: "Open Sans", sans-serif;
  --alt-font: "Modak", cursive;
  --white: #fff;
  --stroke-color: #000;
  --alt-stroke-color: rgba(255, 255, 255, 1);
}

.allAbout {
  height: 100vh;
  display: flex;
  justify-content: center;

}

.allAboutCenter {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 200px;
}

.allAboutCenter span {
  width: 60%;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
  font-size: 3rem;
  font-family: var(--font);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--alt-stroke-color);
  z-index: 9;
}

.allAboutCenter p {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  margin: 21px 0;
}

.allAboutCenter button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #f4902c;
  background: rgba(18, 18, 18, 0.5);
  cursor: pointer;
}





.contianerGrid {
  width: 100%;
  margin-bottom: 60px;
  color: #fff;
}

.ourPart {
  padding-top: 160px;
  padding-bottom: 110px;
}

.Tab {
  border: none;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
}

.TabChild {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  cursor: pointer;
  font-weight: 600;
}

.Tab li:hover {
  background: linear-gradient(105.56deg, #fddb08 18.43%, #f5952a 89.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Tab li:visited {
  background: linear-gradient(105.56deg, #fddb08 18.43%, #f5952a 89.58%);


  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.TabPanel {
  /* height: 125vh; */
  /* border: 1px solid red; */
  display: flex !important;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  /* margin: 0 20px 0 0; */
}

.card {
  width: 372px;
  height: 372px;
  padding: 0;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  /* overflow: hidden; */
  color: #fff;
  position: relative;
  cursor: pointer;
  margin: 24px;
}

.card * {
  transition: 0.3s ease all;
}

.card img {
  margin: 0;
  width: 300px;
  height: 280px;
  object-fit: cover;
  display: block;
  border-radius: 9px;

}

.card h3 {
  position: absolute;
  margin: 0;
  /* padding: 12px 12px 48px; */
  line-height: 32px;
  font-weight: 500;
  font-size: 20px;
  bottom: 0;
  width: 100%;
  height: 72px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 0 0 8px 8px;
  padding: 20px 0;
  text-transform: uppercase;
}


.cardHover {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .cardHover {
  transform: translateY(0);
  opacity: 1;
}

.card h3 :hover {
  opacity: 0;
  transform: translateY(100%);
  display: none;
}

/* .card:hover img, .card:focus-within img {
    margin-top: -80px;
  }
  
  .card:hover h3, .card:focus-within h3 {
    padding: 8px 12px 0;
  } */


.modalll {
  width: 100%;
  height: 100%;
  border: 1px solid red !important;
}


@media only screen and (max-width: 1440px) {
  .contianerGrid {
    /* height: 170vh; */
    width: 80%;
    margin: auto;
  }

  .card {
    width: 302px;
    height: 302px;
  }

  .allAbout {
    width: 80%;
    margin: auto;
    height: 100vh;
  }

  .allAboutCenter {
    margin-bottom: 140px;
  }

  .allAboutCenter button {
    width: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  .contianerGrid {
    /* height: 170vh; */
    width: 80%;
    margin: auto;
  }

  .card {
    width: 302px;
    height: 302px;
  }

  .allAbout {
    width: 80%;
    margin: auto;
    height: 80vh;
  }

  .allAboutCenter {
    margin-bottom: 115px;
   
  }
  .allAboutCenter span{
    width: 80%;
  }

  .allAboutCenter button {
    width: 200px;
  }


}

@media only screen and (max-width: 768px) {

  /* .contianerGrid{
    height: 210vh;
  } */
  .allAbout {
    width: 80%;
    margin: auto;
    height: 56vh;
  }

  .allAboutCenter span {
    font-size: 2rem;
  }

  .allAboutCenter p {
    font-size: 15px;
    margin: 12px 0;
  }

  .allAboutCenter {
    margin-bottom: 115px;
  }

  .allAboutCenter button {
    width: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .Tab {
    flex-direction: column;
  }

  /* .contianerGrid{
    height: 370vh;
  } */

  .allAbout {
    width: 80%;
    margin: auto;
    height: 30vh;
  }

  .allAboutCenter span {
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }

  .allAboutCenter p {
    display: none;
  }

  .allAboutCenter {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .allAboutCenter button {
    width: 200px;
    font-size: 14px;
    padding: 10px 16px;
  }
}

@media only screen and (max-width: 428px) {
  .Tab {
    flex-direction: column;
  }

  /* .contianerGrid{
    height: 370vh;
  } */

  .allAbout {
    width: 80%;
    margin: auto;
    height: 30vh;
  }

  .allAboutCenter span {
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }

  .allAboutCenter p {
    display: none;
  }

  .allAboutCenter {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .allAboutCenter button {
    width: 200px;
    font-size: 14px;
    padding: 10px 16px;
  }
}